{% extends "base.htm" %}

{% block body %}
 <div class="margin-top container">
  <div class="row">
    <div class="column">
    	<h1>Rotterdam Bridge Detector</h1>
    	Go to the <a href="upload_image">bridge detector</a> to start detecting bridges.
    </div>
  </div>
</div>    	
{% endblock %}