{% extends "base.htm" %}

{% block body %}
 <div class="margin-top container">
  <div class="row">
    <div class="column">

      <h1>The Rotterdam Bridge Finder</h1>
      <h2>We will find your bridges!</h2>
      <hr>

      <form action="process_upload" method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <label>Select image</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="image" id="image">
            <label class="button button-primary" class="custom-file-label" for="image">Select image...</label>
          </div>

          <div class="form-group">
          <label>threshold</label>
          <input type="text" name="threshold" value="0.6">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>

      </form>

    </div>
  </div>
</div>
{% endblock %}
